body {
  background-color: #FFFFFF;
  color: #444;
  font-size: 1.065rem;
}

h1 {
  margin-bottom: 2rem;
}

h1.centred {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}

h2.centred {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.alert {
  border: none;
  border-radius: 0;
  color: #FFF;
}

.alert ul {
  margin-bottom: 0;
}

.alert-danger {
  background-color: #f44336;
}

.alert-info {
  background-color: #2196F3;
}

.alert-success {
  background-color: #43A047;
}

.bg-light-blue {
  background-color: #E1F5FE;
}

.bg-warning {
  background-color: #FFECB3!important;
}

.breadcrumbs a {
  font-size: 0.8rem;
}

.breadcrumbs a:after {
  content: ' / ';
  color: #444;
}

.breadcrumbs a:last-child:after {
  content: '';
}

.btn {
  max-width: 100%;
  border-radius: 0;
}

.btn-lg {
  font-size: 1.3rem;
  padding: 0.7rem 3rem;
}

.btn-light, .btn-light:hover {
  border: none;
  padding: 0;
  background-color: transparent;
}

.btn-light:hover {
  opacity: 0.8;
}

.btn-primary {
  border-color: #1565C0;
  background-color: #1565C0;
}

.btn-warning{
  border-color: #EC407A;
  background-color: #EC407A;
  color: #FFFFFF;
}

.btn-warning:hover {
  border-color: #AB47BC;
  background-color: #AB47BC;
  color: #FFFFFF;
}

.card {
  border-radius: 0;
}

.ck-editor__editable {
  min-height: 250px;
}

.dropdown-menu {
  border-radius: 0;
}

.form-control {
  border: 1px solid #d0d0d0;
  border-radius: 0;
}

.icon-64 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: transparent no-repeat center;
  background-size: cover;
}

.important {
  font-size: 1.5rem;
}

.nav-tabs .nav-link {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
  border-color: #e9ecef;
}

.navbar-custom {
  background-color: #333;
  color: #FFF;
  margin-bottom: 40px;
}

.navbar-custom .fa {
  color: #ffffff;
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
  color: #FFF;
}

.navbar-custom .nav-link {
  cursor: pointer;
}

.navbar-custom .nav-link:hover {
  opacity: 0.8;
}

.pagination, .page-item:first-child .page-link, .page-item:last-child .page-link {
  border-radius: 0;
}

.grid-table {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.grid-table .head {
  font-size: 1.1rem;
}

.grid-table .fa {
  font-size: 1.2rem;
}

.grid-table .row {
  padding: 10px 5px;
  margin: 0;
  border-bottom: 1px solid #d0d0d0;
}

.grid-table .row.head {
  border-bottom: none;
}

.grid-table .row div {
  overflow: hidden;
}

.grid-table form {
  display: inline;
}

.link-view {
  font-size: 2rem;
  margin-bottom: 20px;
}

.fa.btn-link:hover {
  text-decoration: none;
}

.fa.btn-link:active {
  color: #66BB6A;
}

@media only screen and (max-width: 800px) {
  h1.centred {
    font-size: 30px;
  }

  h2.centred {
    font-size: 25px;
  }

  .important {
    font-size: 1.2rem;
  }

  .navbar-custom {
    margin-bottom: 20px;
  }

  .link-view {
    font-size: 1.5rem;
  }

  .hide-on-mobile {
    display: none;
  }
}